<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
<div class="gh-viewport">

<header class="gh-head w-full px-6 py-6">
  <div class="container mx-auto flex flex-row flex-wrap justify-between items-center">
    <a class="flex items-center font-serif text-xl z-20" href="{{@site.url}}">
      <div class="overflow-hidden w-10 h-10 rounded-full ring-3 ring-blue-300 hover:ring-blue-400"
      >
        {{#if @site.logo}}
          <img class="object-cover w-full h-full" src="{{@site.logo}}" alt="{{@site.title}}" />
        {{/if}}
      </div>
      <span class="ml-4">Defite</span>
    </a>
    <nav class="duration-200 ease-in opacity-0 transform scale-95 <md:-z-10 md:opacity-100 md:transform-none">{{navigation}}</nav>
  </div>
</header>

<main class="gh-main">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

{{> "footer"}}

</div>

{{!-- <foot> --}}

{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
